<p>This i sthe charts worlds</p>
<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" accept=".json,.csv"
           (change)="getfile($event)">
</div>

<button type="button" class="btn btn-primary" 
     (click)="submitDoc()">Upload File</button>
     <router-outlet *ngIf = "this.datafromlocal"></router-outlet> //flaw

<!-- <a routerLink="/chartdefault">
    <button class="btn btn-success" > Submit </button>
</a>     -->
     <!-- <br>
<div *ngIf = "chart">
    <canvas id="canvas">{{ chart }}</canvas>
</div> -->